In [206]:
from datetime import datetime
import argparse
import pandas as pd
import gzip
import re
import sys
import itertools

In [227]:
#constants
CYP2D6_PHENO="CYP2D6_Metabolyzer.csv"
CYP2C19_PHENO="CYP2C19_Metabolyzer.csv"
AIF="CustomArray_AIF.txt"
CYP2D6_AF="CYP2D6_AF.tsv"
RESOURCES_DIR="resources"
POP = 'European'
SNPS = ["rs489693","rs4713916","rs7997012","rs6295"]
NTC_ID = 'NTC'

cyp2d6_pheno_file = RESOURCES_DIR + "/" + CYP2D6_PHENO
cyp2c19_pheno_file = RESOURCES_DIR + "/" + CYP2C19_PHENO
cyp2d6_af_file = RESOURCES_DIR + "/" + CYP2D6_AF
aif_file = RESOURCES_DIR + "/" + AIF

In [3]:
def now(sep=":"):
    now = datetime.now()
    current_time = now.strftime("%Y%M%D_%H{sep}%M{sep}%S".format(sep=sep))
    return current_time

In [239]:
#Load metabolizer definitions
CYP2D6_pheno = pd.read_csv(cyp2d6_pheno_file, sep="\t", header=0)
CYP2C19_pheno = pd.read_csv(cyp2c19_pheno_file, sep="\t", header=0)
CYP2D6_pheno.head()

  Diplotype Activity_Score Phenotype
0    *2/*41              0        EM
1    *41/*2              0        EM
2     *3/*3              0        PM
3   *3/*3xN              0        PM
4     *3/*4              0        PM

In [105]:
#Load array AIF file
AIF_table = pd.read_csv(aif_file, sep="\t", header=0, comment='*', encoding = "ISO-8859-1", usecols=['Assay ID','NCBI SNP Reference'], index_col='Assay ID')
AIF_table.loc[list(geno_table.columns)[1:5],'NCBI SNP Reference'] = SNPS
AIF_table.loc[list(geno_table.columns)[1:5]]

               NCBI SNP Reference
Assay ID
C__30634128_10           rs489693
C____469857_10          rs4713916
C__25986767_70          rs7997012
C__27861809_10             rs6295

In [165]:
#Load CYP2D6 alleles frequencies 
cyp2d6_af_table = pd.read_csv(cyp2d6_af_file, sep="\t", header=0, index_col='Allele')
cyp2d6_af_table.fillna(0, inplace=True)
cyp2d6_af_table.sort_values(POP, ascending=False, inplace=True)
cyp2d6_af_table.head()

,African,African_American,European,Near_Eastern,East_Asian,South_Asian,American,Latino,Oceanian
Allele,,,,,,,,,
*1,0.3423,0.3482,0.4138,0.3803,0.3489,0.4854,0.5883,0.4620,0.7300
*2,0.1902,0.1428,0.2517,0.2184,0.1332,0.2910,0.2228,0.2543,0.0120
*4,0.0348,0.0640,0.1793,0.1174,0.0079,0.0888,0.1086,0.1212,0.0248
*41,0.1241,0.0637,0.0888,0.1764,0.0234,0.1295,0.0253,0.0442,0.0088
*35,0.0000,0.0077,0.0519,0.0230,0.0010,0.0110,0.0075,0.0239,0.0000

In [242]:
#Sample details
sample_cols = [c-1 for c in [1,2,3,4]]
samples_info = pd.read_csv("samples_info.csv", sep="\t", header=0, usecols=sample_cols)
samples_info.columns=['Clinician','Sample','Group_PGx','first_drug']
samples_info.set_index('Sample',inplace=True)
samples_info.head()

       Clinician  Group_PGx    first_drug
Sample
RF16_1       B01          1   Amisulpride
RF16_2       B01          1   Venlafaxina
RF16_3       B01          0  Escitalopram
RF16_4       T01          0  Escitalopram
RF16_5       T01          1   Amisulpride

In [240]:
#CYP alleles from from allele typer
CYP_alleles_table = pd.read_csv("detail_result.txt", sep="\t", skiprows=10, encoding = "ISO-8859-1", usecols=['sample ID','CYP2D6','CYP2C19'])
CYP_alleles_table.rename(columns={'sample ID' : 'Sample'}, inplace=True)
CYP_alleles_table.set_index('Sample', inplace=True)
indexCYP = CYP_alleles_table.index.values
indexCYP[0:9] = list(samples_info.index)
col_idx = CYP_alleles_table.columns.get_loc('CYP2D6')

if NTC_ID in CYP_alleles_table.index.values:
    CYP_alleles_table.drop(NTC_ID, inplace=True)
if 'Run date' in CYP_alleles_table.index.values:
    CYP_alleles_table.drop('Run date', inplace=True)
    
for idx, value in enumerate(CYP_alleles_table['CYP2D6'].values):
    genos = value.split(', ')
    af_mean = []
    for g in genos:
        g = re.sub(r'x[0-9]+','xN', g)
        alleles = g.split('/')
        af_sum = sum(a for a in cyp2d6_af_table.loc[alleles,POP])
        af_mean.append(af_sum / 2)
    
    sort_idx = sorted(range(len(af_mean)), key=lambda k: af_mean[k])
    CYP_alleles_table.iloc[idx,col_idx] = genos[sort_idx[0]]

CYP_alleles_table.head()

CYP_alleles_table['CYP2D6_pheno'] = ""
CYP_alleles_table['CYP2C19_pheno'] = ""

cnv = re.compile('(\*[0-9]+)x([0-9]+)')
col_idx = CYP_alleles_table.columns.get_loc('CYP2D6_pheno')
for idx, geno in enumerate(CYP_alleles_table['CYP2D6'].values):
    m = cnv.search(geno)
    if m is not None:
        if m.group(2) == "2":
            if geno in CYP2D6_pheno['Diplotype'].values:
                CYP_alleles_table.iloc[idx,col_idx]=CYP2D6_pheno.loc[CYP2D6_pheno['Diplotype']==geno, 'Phenotype'].values[0]
            else:
                geno_new = re.sub(r'x[3-9]+','xN', geno)
                if geno_new in CYP2D6_pheno['Diplotype'].values:
                    CYP_alleles_table.iloc[idx,col_idx]=CYP2D6_pheno.loc[CYP2D6_pheno['Diplotype']==geno_new, 'Phenotype'].values[0]
                else:
                    CYP_alleles_table.iloc[idx,col_idx]="UNDETERMINED"
        elif m.group(2) > 2:
            geno_new = re.sub(r'x[3-9]+','xM', geno)
            if geno_new in CYP2D6_pheno['Diplotype'].values:
                CYP_alleles_table.iloc[idx,col_idx]=CYP2D6_pheno.loc[CYP2D6_pheno['Diplotype']==geno_new, 'Phenotype'].values[0]
            else:
                geno_new = re.sub(r'x[3-9]+','xN', geno)
                if geno_new in CYP2D6_pheno['Diplotype'].values:
                    CYP_alleles_table.iloc[idx,col_idx]=CYP2D6_pheno.loc[CYP2D6_pheno['Diplotype']==geno_new, 'Phenotype'].values[0]
                else:
                    CYP_alleles_table.iloc[idx,col_idx]="UNDETERMINED"
    else:
        if geno in CYP2D6_pheno['Diplotype'].values:
            CYP_alleles_table.iloc[idx,col_idx]=CYP2D6_pheno.loc[CYP2D6_pheno['Diplotype']==geno, 'Phenotype'].values[0]
        else:
            CYP_alleles_table.iloc[idx,col_idx]="UNDETERMINED"

col_idx = CYP_alleles_table.columns.get_loc('CYP2C19_pheno')
for idx, geno in enumerate(CYP_alleles_table['CYP2C19'].values):
    if geno in CYP2C19_pheno['Diplotype'].values:
        CYP_alleles_table.iloc[idx,col_idx]=CYP2C19_pheno.loc[CYP2C19_pheno['Diplotype']==geno, 'Phenotype'].values[0]
    else:
        CYP_alleles_table.iloc[idx,col_idx]="UNDETERMINED"
CYP_alleles_table.head()

         CYP2D6 CYP2C19 CYP2D6_pheno CYP2C19_pheno
Sample
RF16_1  *1/*1x2   *1/*2          UM             IM
RF16_2    *4/*9   *1/*2          IM             IM
RF16_3  *34/*39   *1/*1          EM             IM
RF16_4  *34/*39   *1/*1          EM             IM
RF16_5   *4/*69  *1/*17           PM            EM

In [ ]:
'''
if ($PM>=2 && $UM==0 && $IM==0 && $EM==0) {
    $output{$line[0]}{CYP2C19}{pheno}="PM";
} elsif ((($IM==1 || $IM==2) && $PM <= 1 && $EM==0) || ($EM==1 && $PM <=1)) {
    $output{$line[0]}{CYP2C19}{pheno}="IM";
} elsif ($EM==1 && $PM==0 && $IM==1) {
    $output{$line[0]}{CYP2C19}{pheno}="EM";
} elsif ($EM==2 || (($EM + $IM) > 2)) {
    $output{$line[0]}{CYP2C19}{pheno}="UM";
} else {$output{$line[0]}{CYP2C19}{pheno}="NA"}

$output{$line[0]}{CYP2C19}{alleles}=$mystring[0];
'''

In [ ]:
#Genotyping results from TaqMan Genotyper
geno_table = pd.read_csv("Genotype Matrix.csv", sep=",", skiprows=15, encoding = "ISO-8859-1")
geno_table.rename(columns=AIF_table.to_dict()['NCBI SNP Reference'], inplace=True)
geno_table = geno_table[['Sample/Assay'] + SNPS]
geno_table.rename(columns={'Sample/Assay':'Sample'}, inplace=True)
geno_table.set_index('Sample', inplace=True)
indexNamesArr = geno_table.index.values
indexNamesArr[0:9] = list(samples_info.index)
#geno_table.reindex(labels=list(samples_info.index))
geno_table.head()

In [153]:
#SLC6A4 long-short alleles
SLC6A4_table = pd.read_csv("example_input_files/SLC6A4_LS_example.tsv", sep="\t", header=0, index_col='Sample')
indexSLC = SLC6A4_table.index.values
indexSLC[0:9] = list(samples_info.index)
SLC6A4_table.head()

['NA04671' 'NA17004' 'NA17005' 'NA17034' 'NA17051' 'NA17053' 'NA17055'
 'NA17057' 'NA17059' 'NA17060' 'NA17104' 'NA17105' 'NA17108' 'NA17109'
 'NA17125' 'NA17201' 'NA17202' 'NA17203' 'NA17205' 'NA17208' 'NTC']

       SLC6A4
Sample
RF16_1     LL
RF16_2     SS
RF16_3     LL
RF16_4     LS
RF16_5     LS

In [243]:
#Check samples in genotype matrix and CYP alleles are included in sample info
result =  all(elem in samples_info.index.values for elem in geno_table.index.values)
if not result:
    print("Genotype table contains samples not found in sample information table")
    
result =  all(elem in samples_info.index.values for elem in CYP_alleles_table.index.values)
if not result:
    print("Allele-typer table contains samples not found in sample information table")

result =  all(elem in samples_info.index.values for elem in SLC6A4_table.index.values)
if not result:
    print("SLC6A4 table contains samples not found in sample inforamtion table")
    
#Merge sample info + genotypes + SLC6A4 alleles + CYP alleles 
samples_info = samples_info.merge(CYP_alleles_table, on='Sample')
samples_info = samples_info.merge(SLC6A4_table, on='Sample')
samples_info = samples_info.merge(geno_table, on='Sample')
samples_info.head()

Genotype table contains samples not found in sample information table
Allele-typer table contains samples not found in sample information table
SLC6A4 table contains samples not found in sample inforamtion table

,Clinician,Group_PGx,first_drug,CYP2D6,CYP2C19,CYP2D6_pheno,CYP2C19_pheno,SLC6A4,rs489693,rs4713916,rs7997012,rs6295
Sample,,,,,,,,,,,,
RF16_1,B01,1,Amisulpride,*1/*1x2,*1/*2,UM,IM,LL,C/C,C/T,A/G,G/G
RF16_2,B01,1,Venlafaxina,*4/*9,*1/*2,IM,IM,SS,C/C,NOAMP,NOAMP,G/G
RF16_3,B01,0,Escitalopram,*34/*39,*1/*1,EM,IM,LL,NOAMP,NOAMP,NOAMP,NOAMP
RF16_4,T01,0,Escitalopram,*34/*39,*1/*1,EM,IM,LS,C/C,C/C,G/G,G/G
RF16_5,T01,1,Amisulpride,*4/*69,*1/*17,PM,EM,LS,C/C,C/T,G/G,G/G

In [ ]:
samples_info.to_csv("test.tsv",sep="\t", header=True)